* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #090909;
}

h1 {
    text-align: center;
    padding: 0.68em 0;
    color: #fff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 3em;
}

main {
    width: 50%;
    min-width: 30em;
    margin: 0 auto;
}

#userText {
    width: 100%;
    height: 24em;
    background-color: #003368;
    color: #33ee63;
    padding: 0.75em 1.05em;
    border: none;
    border-radius: 0.25em;
    resize: none;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}

#userText::placeholder {
    color: rgba(255, 255, 255, 0.75);
}

#userText:focus {
    outline: 2px solid #fff;
}

.btn-group {
    display: flex;
    padding-top: 1em;
    margin-bottom: 2em;
    padding-left: 4em;
    padding-right: 4em;
}

.space {
    width: 2em;
}

.btn {
    width: 50%;
    padding: 1em;
    font-weight: bold;
    letter-spacing: 1.2px;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    transition: 0.3s;
    background-color: #111;
    font-size: 1.1em;
    color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 0;
    position: relative;
    outline: none;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 0.25em;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn:active {
    color: #000;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn:active:after {
    background: transparent;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn:hover:before {
    opacity: 1;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 0.25em;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.analysis {
    border-top: 10px solid #005bbb;
    background-color: #003368;
    box-shadow: inset -1px 0 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.25em;
    margin-left: 2em;
    margin-right: 2em;
}

.analysis > h2 {
    margin: 1em 0;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #fff;
}

.all-analysis {
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 1.2px;
    padding-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
}

.all-analysis > h4 {
    width: 50%;
    line-height: 2em;
}

::-webkit-scrollbar { width: 10px; height: 10px; }

::-webkit-scrollbar-track { background-color: transparent; }

::-webkit-scrollbar-thumb { background-color: #005bbb; }